.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.display {
  display: flex;
  margin: 10px;
  width: 80vw;
}

.score {
  display: grid;
  margin: 10px;
  width: 20vw;
}

@media only screen and (max-width: 932px) {
  .score {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .score {
    display: none;
  }
}