:root {
  --size-card: 4.5rem;
  --bg-other: #f0f0f0;
  --border-radius: 10px;
  --card-shadow: rgba(0, 128, 255, 0.5);
}

.card {
  background-color: var(--bg-other);
  padding: 10px;
  width: var(--size-card);
  height: var(--size-card);
  cursor: pointer;
  transform-style: preserve-3d;
  border-radius: var(--border-radius);
  transition: transform 0.9s ease;
}

.card .front,
.card .back {
  box-sizing: border-box;
  display: block;
  padding: 0;
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
}

.card img {
  width: var(--size-card);
  height: var(--size-card);
}

.card .back {
  transform: rotateY(180deg);
}

.selected {
  box-shadow: 0 0 10px var(--card-shadow);
}

.matched {
  opacity: 0.7;
}

.card.clicked {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 932px) {
  .card {
    padding: 5px;
    width: 50px;
    height: 50px;
  }

  .card img {
    width: 50px;
    height: 50px;
  }
}