.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card {
    width: 4.5rem;
    height: 4.5rem;
    padding: 10px;
    background-color: var(--bg-other);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} */

  
  .cardBox {
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    padding: 10px;
    background-color: var(--bg-other);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .cardBox:hover .card {
    transform: rotateY( 180deg);
  }
  
  .card {
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }
  
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    padding: 0;
    position: absolute;
    text-align: center;
  }

  .card img {
    width: 4.5rem;
    height: 4.5rem;
  }
  
  
  .card .back {
    transform: rotateY( 180deg);
  }
  
  /*
  .cardBox:nth-child(1) .card .back {
    background: cornflowerblue;
  }
  
  .cardBox:nth-child(2) .card .back {
    background: orange;
  }
  
  .cardBox:nth-child(3) .card .back {
    background: yellowgreen;
  }
  
  .cardBox:nth-child(4) .card .back {
    background: tomato;
  }
  .cardBox:nth-child(2) .card {
      -webkit-animation: giro 1.5s 1;
      animation: giro 1.5s 1;
    }
    
    .cardBox:nth-child(3) .card {
        -webkit-animation: giro 2s 1;
        animation: giro 2s 1;
    }
    
    .cardBox:nth-child(4) .card {
        -webkit-animation: giro 2.5s 1;
        animation: giro 2.5s 1;
    }
    */
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
/*   
  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 94.5%;
    }
    .card {
      height: 260px;
    }
  } */