.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 4.5rem;
    height: 4.5rem;
    padding: 10px;
    background-color: var(--bg-other);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.front {
    display: flex;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    display: flex;

    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}