.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: calc(100vw - 2px);
  max-height: calc(100vh - 2px);
}

.sidebar {
  width: 14vw;
  margin: 15px;
  padding: 20px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.game {
  width: 76vw;
  margin: 15px;
  padding: 20px;

  background-color: var(--bg-other);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media only screen and (max-width: 932px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2px;
    padding: 2px;
  }

  .sidebar {
    display: none;
  }

  .game {
    width: 100%;
    height: 100vh;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 10px);
    padding: 0;
    margin: 0;
  }

}