.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 95vh;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 14vw;
  padding: 20px;
  margin: 10px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 78vw;
  background-color: var(--bg-other);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


@media only screen and (max-width: 915px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }
}

