.contaniner {
  display: flex;
  flex-direction: column;
}

.contaniner a {
  font-size: 1.1em;
  font-weight: 600;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.contaniner a.active {
  background-color: #475569;
  color: white;
}

.contaniner a:hover {
  background-color: #f1f5f9;
  color: black;
}