.contaniner {
  display: flex;
  flex-direction: column;
}

.contaniner a {
  font-size: 1.1em;
  font-weight: 600;
  color:  var(--bg-secondary);

  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contaniner a.active {
  background-color: var(--bg-secondary);
  color: white;
}

.contaniner a:hover {
  background-color: var(--bg-other);
  color:  var(--bg-secondary);
}