:root {
  --bg-primary: #bae6fd;
  --bg-secondary: #082f49;
  --bg-other: #e0f2fe;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary);
}