:root {
  --bg-primary: #bae6fd;
  --bg-secondary: #082f49;
  --bg-other: #e0f2fe;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-primary);
}